node_modules
dist
public
tsconfig.json
.commitlintrc.ts
.prettierrc.js
yarn.lock
package.lock
.idea
pnpm-lock.yaml
enpm-lock.yaml
auto-imports.d.ts
components.d.ts
.local
/node_modules/**

**/*.svg
**/*.sh
